

<li><%= link_to "New Product", "/products/new" %></li>


<p>
<% @products.each do |product| %>


	<div class="product-name"><%= link_to product[:name] , "/products/#{product.id}"%></div>
	<p>Price : <%= product[:price_in_cents]%></p>
	<p><%= product[:description]%></p>

<% end %>

</p>


