
<ul class="sub-nav">
		<li><%= link_to "NEW PRODUCT", "/products/new" %></li>
</ul>

<div id="product-container-index">
<% @products.each do |product| %>



	<div id="product-indiv">
		<p id="product-name-indiv"><%= link_to product[:name] , "/products/#{product.id}"%></p>
		<p>Price : <%= product.formatted_price %></p>
		<p><%= product[:description]%></p>
	</div>

<% end %>



</div>


